<section class="registerWrapper">
    <div class="title">
        <h1>Register</h1>
    </div>
    <div class="registerForm">
        <div class="registerFormWrapper">
            <form action="" class="regForm">
                <label for="firstName">First Name:</label>
                <input type="text">
                <label for="lastName">Last Name:</label>
                <input type="text">
                <label for="email">Email:</label>
                <input type="email">
                <label for="password">Password:</label>
                <input type="password">
                <label for="rePassword">Repeat the password:</label>
                <input type="password">
                <button type="submit" class="registerBtn">Register</button>
            </form>
        </div>
       
    </div>
</section>
