<div class="loading" *ngIf="isLoading">
    <app-loader />
</div>
<section class="recipeDetails" *ngIf="recipe">
    
    <div class="btn-img-title-description-wrapper">
        <div class="img-wrapper">
            <img src="{{recipe.image}}" alt="">
        </div>
        <div class="btn-title-description-wrapper">
            <div class="favorite-btn" *ngIf="userId">
                <button type="button" (click)="toggleFavorite()">
                    <img [src]="isFavorite ? '../../../assets/icons/heart-solid.svg' : '../../../assets/icons/heart-regular.svg'" alt="">
                </button>
            </div>
            <h2>{{recipe.title}}</h2>
            <p>{{recipe.description}}</p>
        </div>
    </div>

    <div class="ingredients-instruction-wrapper">
        <div class="ingredients-wrapper">
            <h3>Ingredients:</h3>
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients.split('\n')">{{ingredient}}</li>
            </ul>
        </div>

        <div class="instruction-wrapper">
            <h3>Instructions:</h3>
            <ul>
                <li *ngFor="let instruction of recipe.instructions.split('\n')">{{instruction}}</li>
            </ul>
        </div>
        
    </div>

   
</section>