<section class="profile-wrapper">
    <div class="title">
        <h1>Welcome {{profileDetails.firstName}} {{profileDetails.lastName}}</h1> 
        <button class="edit-btn" (click)="showPopup()"><img src="../../../assets/icons/edit-solid-green.svg" alt=""></button>
        <!-- <div class="edit-img">
            <a href=""><img src="../../../assets/icons/edit-solid-green.svg" alt=""></a>
        </div> -->
    </div>
    <div class="tables-wrapper">
        <div class="container">
            <div class="container-title">
                <h2>Liked recipes</h2>
            </div>
            <div class="container-list">
                <ol>
                    <li><a href="">Recipe 1</a></li>
                </ol>
            </div>
        </div>
        <div class="container">
            <div class="container-title">
                <h2>My recipes</h2>
            </div>
            <div class="container-list">
                <ol>
                    <li><a href="">Recipe 1</a></li>
                    <li><a href="">Recipe 2</a></li>
                </ol>
            </div>
        </div>
    </div>

    <div *ngIf="isPopupVisible" class="popup-container">
        <app-profile-edit-popup (close)="hidePopup()"/>
    </div>
</section>
