<section class="recipes">
    <div class="title">
        <h1>Recipes</h1>
    </div>
    <div class="cardWrapper" *ngIf="recipes.length > 0; else noRecipes">
        
            <div class="recipeCard" *ngFor="let recipe of recipes">
                <a [routerLink]="'/category/recipe/details/'+recipe?._id">
                    <div class="recipeCard-img">
                        <img src={{recipe.image}} alt="">
                    </div>
                    <div class="recipe-title">
                        <h2>{{ recipe.title }}</h2>
                    </div>
                </a>
        
            </div>
    </div>
    <ng-template #noRecipes>
        <p>No recipes available.</p>
    </ng-template>
</section>