<section class="loginWrapper">
    <div class="title">
        <h1>Login</h1>
    </div>
    <div class="loginForm">
        <div class="loginFormWrapper">
            <form action="" class="logForm">
                <label for="email">Email:</label>
                <input type="text">
                <label for="email">Password:</label>
                <input type="password">
                <button type="submit" class="loginBtn">Login</button>
            </form>
        </div>
       
    </div>
</section>
