footer{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-top: 2rem;
}
.copy-right-sec{
  padding: 1.8rem;
  background: #DDEEDF;
  color: #388E3C;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'CustomFont-MediumItalic';
  font-size: 0.8rem;
  width: 100%;
}
.copy-right-sec a{
  color: #8BC34A;
  font-weight: 500;
  margin: 0 1rem 0 1rem;
}

@media (max-width: 1300px){
  .copy-right-sec{
    display: flex;
    flex-direction: column;
  }
  .copy-right-sec a{
    margin: 0.2rem;
  }
}
