footer{
    margin-top: 1rem;
}
.copy-right-sec{
    padding: 1.8rem;
    background: #DDEEDF;
    color: #388E3C;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'CustomFont-MediumItalic';
    font-size: 0.8rem;
    
  }
  .copy-right-sec a{
    color: #8BC34A;
    font-weight: 500;
    margin: 1rem;
  }