<section class="hero-section">
    <div class="image">
        <div class="slogan-text">
            <h1>Taste the World: Where Every Recipe Tells a Story!</h1>
        </div>
    </div>
</section>

<section class="theLastRecipes" *ngIf="recipes.length > 0">
        <div class="recipeCard" *ngFor="let recipe of recipes">
             <a [routerLink]="'/category/recipe/details/' + recipe?._id" target="_top">
                <div class="recipeCard-img">
                    <img src="{{ recipe.image }}" alt="">
                </div>
                <div class="recipeCard-title">
                    <h2>{{ recipe.title }}</h2>
                </div>
             </a>
        </div>
</section>