<div class="admin-wrapper">
    <app-admin-navbar />
    <div class="addCategory-wrapper">
        <div class="form-container-wrapper">
            <div class="form-title">
                <h2>Add Category</h2>
            </div>
            <div class="form-wrapper">
                <form [formGroup]="form" (ngSubmit)="createCategory()">
                    <label for="categoryName">Category Name:</label>
                    <input type="text" name="categoryName" id="categoryName" formControlName="categoryName">
                    <label for="image">Image:</label>
                    <input type="text" name="image" id="image" formControlName="image">
                    <div class="btn-wrapper">
                        <button type="submit">Add Category</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="categoryTable-container-wrapper">
            <div class="categoryTable-wrapper">
                <table>
                    <thead>
                        <tr class="">
                            <td>Category Name</td>
                            <td>Image</td>
                            <td>Edit</td>
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody *ngIf="categories.length > 0; else noCategories">
                        <tr *ngFor="let category of categories">
                            <td>{{ category.categoryName }}</td>
                            <td class="img-td">
                                <div class="img-wrapper">
                                    <img src={{category.image}} alt="">
                                </div>
                            </td>
                            <td>
                                <button class="table-btn green">
                                    <img src="../../../../assets/icons/edit-solid.svg" alt="">
                                </button>
                            </td>
                            <td>
                                <button class="table-btn red">
                                    <img src="../../../../assets/icons/delete-solid.svg" alt="">
                                </button>
                            </td>
                        </tr>
                    </tbody>
                   
                </table>

                <ng-template #noCategories>
                    <p>No categories available.</p>
                </ng-template>
            </div>
        </div>

    </div>

    
</div>



