<header>
    <div class="navbar-wrap">
        <div class="logo-wrap">
            <div class="logo-img">
                <a routerLink="/"><img src="../../../assets/images/logo3.png" alt=""></a>
            </div>
            <div class="logo-text">
                <p class="logo">
                    <a routerLink="/" class="logo">
                        Share Food
                    </a>
                </p>
            </div>
            
        </div>

        <div class="search-wrapper">
            <form (submit)="search()">
                <input type="search" [(ngModel)]="searchQuery" id="searchQuery" name="searchQuery" placeholder="Search recipes..." autofocus>
                <button type="submit">
                    <img src="../../../assets/icons/search-solid.svg" alt="">
                </button>
            </form>
        </div>

        <div class="menu-toggle" (click)="toggleMenu()">
            <img src="../../../assets/icons/bars-solid.svg" alt="menu">
        </div>

        <div class="navbar" [ngClass]="{ 'menu-open': isMenuOpen }" (mouseleave)="closeMenu()">
            <ul *ngIf="!isLoggedIn">
                <li>
                    <a routerLink="/" (click)="closeMenu()">Home</a>
                </li>
                <li>
                    <a routerLink="/category" (click)="closeMenu()">Recipes</a>
                </li>
                <li>
                    <a routerLink="/users/login" (click)="closeMenu()">Login</a>
                </li>
                <li>
                    <a routerLink="/users/register" (click)="closeMenu()">Register</a>
                </li>
            </ul>

            <ul *ngIf="isLoggedIn">
                <li>
                    <a routerLink="/" (click)="closeMenu()">Home</a>
                </li>
                <li>
                    <a routerLink="/category" (click)="closeMenu()">Recipes</a>
                </li>
                <li>
                    <a routerLink="/users/addRecipe" (click)="closeMenu()">Add Recipe</a>
                </li>
                <li>
                    <a routerLink="/users/profile" (click)="closeMenu()">Profile</a>
                </li>
                <li style="cursor: pointer;" (click)="logout()">
                    <a>Logout</a>
                </li>
            </ul>

        </div>
    </div>
</header>