header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #8BC34A;
}

.navbar-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.logo-wrap{
    width: 20%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logo-img{
    width: 20%;
    height: 100%;
}

.logo-text{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-img img{
    width: 100%;
    height: 100%;
}

.logo{
    color: #388E3C;
    font-size: 2rem;
    font-family: 'CustomFont-Bold';
}

.logo a{
    text-decoration: none;
}

.search-wrapper{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.search-wrapper form{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-wrapper input{
    font-family: 'CustomFont-Bold';
    color: #388E3C;
    font-size: 1rem;
    border: 2px solid #388E3C;
    border-radius: 0.5rem;
    margin-right: 0.5rem;

}

input[type="search"]{
    outline: 0;
    width: 90%;
    height: 5vh;
    background: #F2F9F1;
    padding: 0 1.6rem;
}

.search-wrapper button{
    width: 5%;
    height: 5vh;
    background: none;
    cursor: pointer;
    border: none;
}

.search-wrapper button img{
    width: 100%;
    height: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    /* width: 50%; */
    height: 100%;

}

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar li a{
    font-size: 1.5rem;
    margin: 1rem;
    text-decoration: none;
    color: #388E3C;
    font-family: 'CustomFont-Bold';
}

.navbar li a:hover{
    color: #8BC34A;
}


@media (max-width: 1300px){
    .logo{
        font-size: 1.5rem;
    }
}

@media (max-width: 1000px){
    .logo{
        font-size: 1rem;
    }
}