<header>
    <div class="navbar-wrap">
        <div class="logo-wrap">
            <p class="logo">
                <a href="/" class="logo">
                    Share Food
                </a>
            </p>
        </div>

        <div class="navbar">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/category">Recipes</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
            </ul>

            <!-- <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Recipes</a>
                </li>
                <li>
                    <a href="">Profile</a>
                </li>
                <li>
                    <a href="">Logout</a>
                </li>
            </ul> -->

        </div>
    </div>
</header>