<header>
    <div class="navbar-wrap">
        <div class="logo-wrap">
            <div class="logo-img">
                <a routerLink="/"><img src="../../../assets/images/logo3.png" alt=""></a>
            </div>
            <div class="logo-text">
                <p class="logo">
                    <a routerLink="/" class="logo">
                        Share Food
                    </a>
                </p>
            </div>
            
        </div>

        <div class="navbar">
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>
                    <a routerLink="/category">Recipes</a>
                </li>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
            </ul>

            <!-- <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Recipes</a>
                </li>
                <li>
                    <a href="">Profile</a>
                </li>
                <li>
                    <a href="">Logout</a>
                </li>
            </ul> -->

        </div>
    </div>
</header>