<section class="add-recipe">
    <div class="title">
        <h1>Add Recipe</h1>
    </div>
    <div class="form-wrapper">
        <div class="form-container">
            <form [formGroup]="form" (ngSubmit)="addRecipe()">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" formControlName="title">

                <ng-container *ngIf="form.get('title')?.touched">
                    <p class="error" *ngIf="form.get('title')?.errors?.['required']">Title is required!</p>
                </ng-container>

                <label for="description">Description:</label>
                <textarea name="description" id="description" cols="30" rows="3" formControlName="description"></textarea>

                <ng-container *ngIf="form.get('description')?.touched">
                    <p class="error" *ngIf="form.get('description')?.errors?.['required']">Description is required!</p>
                </ng-container>

                <label for="ingredients">Ingredients:</label>
                <textarea name="ingredients" id="ingredients" cols="30" rows="3" placeholder="Add every ingredient on new row" formControlName="ingredients"></textarea>
                
                <ng-container *ngIf="form.get('ingredients')?.touched">
                    <p class="error" *ngIf="form.get('ingredients')?.errors?.['required']">Ingredients is required!</p>
                </ng-container>

                <label for="instructions">Instructions:</label>
                <textarea name="instructions" id="instructions" cols="30" rows="3" placeholder="Add every instruction on new row" formControlName="instructions"></textarea>
                
                <ng-container *ngIf="form.get('instructions')?.touched">
                    <p class="error" *ngIf="form.get('instructions')?.errors?.['required']">Instructions is required!</p>
                </ng-container>

                <div class="form-group">
                    <label for="category">Category:</label>
                    <select name="category" id="category" formControlName="category">
                        <option value="" disabled selected>Select a category</option>
                        <option *ngFor="let category of categories" [value]="category._id">{{category.categoryName}}</option>
                    </select>
                    <div *ngIf="form.get('category')?.invalid && form.get('category')?.touched" class="error-msg">Please select a category</div>
                </div>

                <label for="image">Image</label>
                <input type="text" name="image" id="image" formControlName="image">

                <ng-container *ngIf="form.get('image')?.touched">
                    <p class="error" *ngIf="form.get('image')?.errors?.['required']">Image is required!</p>
                </ng-container>

                <div class="submitBtn-wrapper">
                    <button type="submit" class="addRecipeBtn" [ngClass]="{'invalid-button': form.invalid , 'valid-button' : !form.invalid}">Add Recipe</button>
                </div>
            
            </form>
        </div>
    </div>
</section>