<section class="add-recipe">
    <div class="title">
        <h1>Add Recipe</h1>
    </div>
    <div class="form-wrapper">
        <div class="form-container">
            <form [formGroup]="form" (ngSubmit)="addRecipe()">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" formControlName="title">

                <label for="description">Description:</label>
                <textarea name="description" id="description" cols="30" rows="3" formControlName="description"></textarea>

                <label for="ingredients">Ingredients:</label>
                <textarea name="ingredients" id="ingredients" cols="30" rows="3" placeholder="Add every ingredient on new row" formControlName="ingredients"></textarea>
                
                <label for="instructions">Instructions:</label>
                <textarea name="instructions" id="instructions" cols="30" rows="3" placeholder="Add every instruction on new row" formControlName="instructions"></textarea>
                
                <div class="form-group">
                    <label for="category">Category:</label>
                    <select name="category" id="category" formControlName="category">
                        <option value="" disabled selected>Select a category</option>
                        <option *ngFor="let category of categories" [value]="category._id">{{category.categoryName}}</option>
                    </select>
                    <div *ngIf="form.get('category')?.invalid && form.get('category')?.touched" class="error-msg">Please select a category</div>
                </div>

                <label for="image">Image</label>
                <input type="text" name="image" id="image" formControlName="image">

                <div class="submitBtn-wrapper">
                    <button type="submit" class="addRecipeBtn">Add Recipe</button>
                </div>
            
            </form>
        </div>
    </div>
</section>