<div class="loading" *ngIf="isLoading">
    <app-loader />
</div>
<section  *ngIf="!isLoading" class="category">
    <div class="title">
        <h1>Categories</h1>
    </div>
    <div class="cardWrapper" *ngIf="categories.length > 0; else noCategories">
        <a [routerLink]="'/category/recipes/' + category?._id" *ngFor="let category of categories">
            <div class="categoryCard">
                <div class="categoryCard-img">
                    <img src={{category.image}} alt="">
                </div>
                <div class="categoryCard-title">
                    <h2>{{ category.categoryName }}</h2>
                </div>
        
            </div>
        </a>
    </div>
    
    <ng-template #noCategories>
        <p>No categories available.</p>
        <div class="img-wrapper">
            <img src="../../../assets/images/noRecipes.png" alt="">
        </div>
    </ng-template>

</section>