<section class="category">
    <div class="title">
        <h1>Categories</h1>
    </div>
    <div class="cardWrapper">
        <a href="">
            <div class="categoryCard">
                <div class="categoryCard-img">
                    <img src="../../assets/images/homeBackground3.jpg" alt="">
                </div>
                <div class="categoryCard-title">
                    <h2>Salad</h2>
                </div>
        
            </div>
        </a>
    
        <a href="">
            <div class="categoryCard">
                <div class="categoryCard-img">
                    <img src="../../assets/images/homeBackground3.jpg" alt="">
                </div>
                <div class="categoryCard-title">
                    <h2>Salad</h2>
                </div>
        
            </div>
        </a>
    
        <a href="">
            <div class="categoryCard">
                <div class="categoryCard-img">
                    <img src="../../assets/images/homeBackground3.jpg" alt="">
                </div>
                <div class="categoryCard-title">
                    <h2>Salad</h2>
                </div>
        
            </div>
        </a>
    </div>
    
    

</section>