<aside>
    <div class="logo-wrapper">
        <div class="logo-img">
            <img src="../../../assets/images/logo3.png" alt="">
        </div>
        <div class="logo-text">
            <p class="logo">Share Food</p>
        </div>
    </div>
    <div class="menu-wraper">
        <a routerLink="/admin/home">Home</a>
        <a routerLink="/admin/categories">Categories</a>
        <a routerLink="/admin/recipes">Recipes</a>
        <a href="">View Admins</a>
        <a href="">Register Admins</a>
        <a style="cursor: pointer;" (click)="logout()">Logout</a>
    </div>
</aside>